@layout MainLayout
@page "/BankAccounts"

<AuthorizeView>
    <Authorized>
        <h1>My Bank Accounts</h1>
    </Authorized>
    <NotAuthorized>
        <p role="status">You are not authorised to see this component</p>
    </NotAuthorized>
</AuthorizeView>

@code {

}
