@page "/bankaccount"

@using MoneyMinder.Data

<!-- account information part -->
<div class="account_info">
    <p class="account_num">Account Number: 00-0000-0000000-00</p>
    <!-- Block further transaction when it is not clicked -->
    <!-- Transaction blocked when clicked -->

    <label class="transaction_label" for="">
        @if (isChecked)
        {
            <p style="color: #02D20A;">Block further transaction</p>
        }
        else
        {
            <p style="color: #D20202;">Transaction blocked</p>
        }
        <input class="transaction" type="checkbox" name="" id="" @bind="isChecked">
    </label>
</div>
<p class="account_holder">Account Holder: Account Holder</p>
<div class="account_name">
    <p>Account Name: Temp Account</p>
    <!-- change button for modal need to be implemented -->
    <button class="account_change_btn">change</button>
</div>
<!-- account selection part -->

<div class="account_filter_box">
    <div class="account_selection">
        <p>Account: &nbsp;</p>
        <select class="select account_selection_list" name="" id="">
            <!-- dropdown need to be changed according to
            the number of accounts that are recorded in database -->
            <option value="">00-0000-0000000-00</option>
            <option value="">00-0000-0000000-01</option>
            <option value="">00-0000-0000000-02</option>
        </select>
        <!-- if add btn is clicked, input should be displayed with check button-->
        <div class="account_add_input_box">
            <input type="text" class="account_add_input" placeholder="Enter new acc. number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter new acc. number'">
            <button class="btn account_add_input_check">✓</button>
        </div>
        <!-- plus button -->
        <button class="btn account_add_btn">+</button>
    </div>

    <!-- dropdown menu need to be implemented -->
    <div class="time_period_filter">
        <p>Time Period: &nbsp;</p>
        <!-- day -->
        <select class="select account_period_year" name="" id="">
            <option value="">Year</option>
        </select>
        <!-- month -->
        <select class="select account_period_month" name="" id="">
            <option value="">Month</option>
        </select>
        <!-- year -->
        <select class="select account_period_week" name="" id="">
            <option value="">Week</option>
        </select>
    </div>
</div>

<!-- prev page, nextpage, lists tab + current balance -->
<div class="account_paging_box">
    <div class="account_paging">
        <!-- prev page -->
        <div class="paging_btn move_prev">Prev. page</div>
        <!-- next page -->
        <div class="paging_btn move_next">Next page</div>
        <!-- lists -->
        <div class="paging_btn move_list">Lists</div>
    </div>
    <!-- current balance -->
    <p class="account_current_bal">Current Balance: $680.00</p>
</div>
<!-- div that shows the content of each tabs -->
<div class="account_content">
    <table class="account_content_table">
        <!-- heads of each column -->
        <thead>
            <th class="table_date">Date</th>
            <th class="table_desc">Description</th>
            <th class="table_trans">Transactions</th>
            <th class="table_bal">Balance</th>
            <th class="table_add">+</th>
        </thead>
        <!-- contents of each column -->
        <tbody>
            <tr>
                <td>18/04/2023</td>
                <td>Restaurant</td>
                <td>-$100.00</td>
                <td>$680.00</td>
                <td>
                    <button class="btn">+</button>
                </td>
            </tr>
            <tr>
                <td>18/04/2023</td>
                <td>Dairy</td>
                <td>-$20.00</td>
                <td>$780.00</td>
                <td>
                    <button class="btn">+</button>
                </td>
            </tr>
            <tr>
                <td>17/04/2023</td>
                <td>Pub</td>
                <td>-$200.00</td>
                <td>$800.00</td>
                <td>
                    <button class="btn">+</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    bool isChecked = false;
}