@layout MainLayout
@page "/bankaccounts"
@using MoneyMinder.Model
@using MoneyMinder.Data
@using MoneyMinder.Pages
@using Microsoft.AspNetCore.Identity;
@inject IDataAccessService DataAccessService
@inject NavigationManager NavManager
@inject UserManager<IdentityUser> _userManager
@inject SignInManager<IdentityUser> SignInManager

<AuthorizeView>
    <Authorized>
        @if (MyBankAccounts != null)
        {
            <h1 class="text-center">My Accounts</h1>
            foreach (var item in MyBankAccounts)
            {
                <div class="bank_account_frame" type="button" @onclick="@(e=>clickedOnAccount(item.AccountNum))">
                    <div class="bank_account_label">
                        <div class="bank_account_content">
                            <h2>@item.Name </h2>
                            <h3>@ConvertAccountNumToString(item.AccountNum)</h3>
                            <h4>$@String.Format("{0:N2}",item.Balance)</h4>
                        </div>
                    </div>
                </div>
            }
        }
        @if (MyBankAccounts == null || MyBankAccounts.Count == 0)
        {
            <br /><br /><br /><br />
            <h2 class="text-center">You have no Bank Accounts registered.</h2>
            <br />
            <div class="text-center">
                <p class="text-center">Click here to go register an account</p>
                <br/>
                <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                    <button class="btn_in_profile">Register</button>
                </NavLink>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <p role="status">You are not authorised to see this component</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int AccountNum;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private User Current;
    private List<BankAccount> MyBankAccounts;

    async Task<string> getUsersEmail()
    {
        var user = (await authenticationStateTask).User;
        return user.Identity.Name;
    }

    protected override async Task OnInitializedAsync()
    {
        Current = DataAccessService.GetUser(await getUsersEmail());
        MyBankAccounts = DataAccessService.GetBankAccounts(Current.Email);
        StateHasChanged();
    }

    public void clickedOnAccount(int account)
    {
        NavManager.NavigateTo("/bankaccounts/" + account);
    }

    public string ConvertAccountNumToString(int AccountNum)
    {
        return string.Format("{0:###-###-###}", AccountNum);
    }

}