@layout MainLayout
@page "/bankaccounts"

@inject NavigationManager NavManager

<AuthorizeView>
    <Authorized>
        @if (true)
        {
            <h1 class="bankaccounts_title">My accounts</h1>
            //foreach (var comp in Companys)
            for (int i = 0; i < 3; i++)
            {
                //int temp = i;
                /*<div class="companyFrame" type="button" @onclick="@(e=>clilckedOnCompany(temp))">*/
                /*<div class="companyFrame" type="button" @onclick="@(e=>clilckedOnCompany(CompanyName))">*/
                <div class="bank_account_frame" type="button" @onclick="@(e=>clilckedOnAccount(AccountName))">
                    <form></form>
                    <div class="bank_account_label">
                        <img class="bank_account_label_img" src="@imageSource" alt="Bank Account Label" />
                        <div class="bank_account_content">
                            <h4>@AccountName </h4>
                            <p class="darkGray">CN</p>
                            <p> </p>
                            <p>$54.21 NZD</p>
                        </div>
                    </div>
                </div>
            }
        }
        <!-- if there is no bank account registered, it should move user to register bank account page -->
        <!--
        else
        {
            <p>No Bank Account.</p>
            <p> </p>
            <p>Please register one</p>
            
            <button class="register_bank_account">Register</button>
        }
        register button should be implemented
        -->
    </Authorized>
    <NotAuthorized>
        <p role="status">You are not authorised to see this component</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string imageSource = "CompanyLabels/image.jpg";
    /*private string CompanyName = "Company name";*/
    private string AccountName = "Account name";
    /*private string searchBox = "";*/
    /*private string searching = "empty";*/
    /*private List<string> Companys = new List<string>();*/

    /*
    protected override async Task OnInitializedAsync()
    {
        Companys = await Scrapit.DoScrapping();
    }
     */
    public void clilckedOnAccount(string account)
    {
        NavManager.NavigateTo("/bankaccounts/accountdetail/" + account);
    }
    /*
    public void search()
        {
        searching = searchBox;
        }
    */
}