@layout MainLayout
@page "/Home"

@inject CompaniesScrapper Scrapit

<h1>Money Minder</h1>

Welcome to our app.

@code
{
    protected override async Task OnInitializedAsync()
    {
        await Scrapit.DoScrapping();
    }
}