@layout LoginLayout
@page "/"
@using MoneyMinder.Model

<EditForm Model="@user">
    <div>
        <h2 style="font-weight:bold; color:limegreen">Money Minder Login</h2>
    </div>
    <br />
    <div class="col-12 row">
        <label for="email" class="col-1 row">Email:</label>
        <input type="email" id="email" name="email" placeholder="myemail@outlook.com" required>
    </div>
    <br />
    <div class="col-12 row">
        <label for="pass" class="col-1 row">Password:</label>
        <input type="password" id="pass" name="pass" required>
    </div>
    <br />
    <div class="col-12 row">
        <span class="col-12"></span>
        <input type="submit" class="form-control col-6 btn btn-primary" value="Login" />
        <a href="/signup" class="col-3">Sign up</a>
    </div>
</EditForm>

@code {
    User user = new User();

}
