@layout MainLayout
@page "/transfer/{text}"

<div class="transfer_container">
    <!-- transfer account box -->
    <div class="transfer_account_container">
        <!-- both of the selects display account that are availbale to transfer -->
        <!-- it should block transfer to the blocked account -->
        <!-- if an account has been selected 'from' from selection, then that account should not be turn up at 'to' selection -->
        <div class="transfer_account_from">
            <p>From: &nbsp;</p>
            <select name="" id="" class="select account_selection" @bind-value="@from" @bind-value:event="onchange">
                <option value=""></option>
                <option value="">00-0000-0000000-00</option>
                <option value="">00-0000-0000000-01</option>
                <option value="">00-0000-0000000-02</option>
            </select>
        </div>
        <div class="transfer_account_to">
            <p>To: &nbsp;</p>
            <select name="" id="" class="select account_selection" @bind-value="@to" @bind-value:event="onchange">
                <option value=""></option>
                <option value="">00-0000-0000000-00</option>
                <option value="">00-0000-0000000-01</option>
                <option value="">00-0000-0000000-02</option>
            </select>
        </div>
    </div>

    <!-- transfer amount input box -->
    <div class="transfer_amount_container">
        <p class="amount_reference_spacing">Amount: &nbsp;&nbsp;&nbsp;</p>
        <input type="text" class="transfer_amount_input" placeholder="Enter the amount" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the amount'" @bind-value="@amount" @bind-value:event="oninput">
    </div>

    <!-- transfer reference input box -->
    <div class="transfer_reference_container">
        <p class="amount_reference_spacing">Reference: &nbsp;</p>
        <input type="text" class="transfer_reference_input" placeholder="Enter the reference" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the reference'" @bind-value="@reference" @bind-value:event="oninput">
    </div>

    <!-- transfer button -->
    <button class="transfer_button" @disabled="disabled">Transfer</button>
</div>

@code {
    private string from;
    private string to;
    private string amount;
    private string reference;
    private bool disabled = true;

    private void CheckInputs()
    {
        @if (string.IsNullOrEmpty(from) || string.IsNullOrEmpty(to) || string.IsNullOrEmpty(amount) || string.IsNullOrEmpty(reference))
        {
            disabled = !disabled;
        }
        /*disabled = string.IsNullOrEmpty(from) || string.IsNullOrEmpty(to) || string.IsNullOrEmpty(amount) || string.IsNullOrEmpty(reference);*/
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        from = "";
        to = "";
        amount = "";
        reference = "";
    }

    private void OnFromChanged(string value)
    {
        from = value;
        CheckInputs();
    }

    private void OnToChanged(string value)
    {
        to = value;
        CheckInputs();
    }

    private void OnAmountChanged(string value)
    {
        amount = value;
        CheckInputs();
    }

    private void OnReferenceChanged(string value)
    {
        reference = value;
        CheckInputs();
    }
}
