@layout LoginLayout
@inherits LayoutComponentBase

<center>
    <div class="col-10 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-16 row">
            <div class="col-6" style="border-right:groove">
                <div>
                    <h2 style="font-weight:bold; color:limegreen">Money Minder</h2>
                </div>
                <img src="/Images/moneyminder.jpg" width="400" height="400" />
            </div>
            <div class="col-6" style="border-left:thick">
                @Body
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>
