@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a>
            <span class="oi oi-person" aria-hidden="true"></span> My Profile
        </a>
        <a>
            <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
