@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a>
            <NavLink class="nav-link" href="profile" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> My Profile
            </NavLink>
        </a>
        <a>
            <NavLink class="nav-link" href="logout" Match="NavLinkMatch.All">
                <span class="oi oi-account-logout" aria-hidden="true" href="/Logout"></span> Logout
            </NavLink>
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
