@page "/Register"
@model MoneyMinder.Areas.Identity.Pages.Account.RegisterModel

<div class="row" style="margin:50px">
    <div class="col-12 row">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating col-8 row" style="margin:50px">
                    <label asp-for="Input.FirstName" class="form-label">First Name:</label>
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating col-8 row" style="margin:50px">
                    <label asp-for="Input.LastName" class="form-label">Last Name:</label>
                    <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating col-8 row" style="margin:50px">
                    <label asp-for="Input.Email" class="form-label">Email:</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating col-8 row" style="margin:50px">
                    <label asp-for="Input.Password" class="form-label">Password:</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div style="margin:10px">
                    <button id="register-submit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
                <div style="margin:10px">
                    <a href="/Home" class="col-3">Bypass</a>
                </div>
            </form>
        </section>
    </div>
</div>

